// place your custom styles here
:root {
  --vp-c-text-1: rgba(255, 255, 245, .86);
  --vp-c-text-2: rgba(235, 235, 245, .6);
  --vp-c-text-3: rgba(235, 235, 245, .38);
}

$theme-color: #8f34fe;
$theme-text-color: rgba(255, 255, 245, .86);

body {
  color: $theme-text-color
}

h2 {
  font-size: xx-large;
}

h3 {
  position: relative;
}

h4 {
  position: relative;
}

code {
  background-color: #2f2f2f;
  padding: .15em .5em;
  border-radius: 4px;
  color: #ed9719;
}


mark {
  background-color: #7652d8;
  color: #fff;
  border-radius: 10px;
  padding: 2px 3px;
}

html[data-theme=dark] blockquote {
  border-color: $theme-color;
  color: $theme-text-color;
  background-image: linear-gradient(-45deg, #be34fe48 10%, #47cbff2d 95%);
}

strong {
  color: $theme-color
}

#main-title {
  background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  background-clip: text;
}

.vp-hero-image::before {
  content: '121212';
  width: 100%;
  height: 100%;
  display: block;
  background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  filter: blur(72px);
}